
@font-face { font-family: 'DungGeunMo'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff'); font-weight: normal; font-style: normal; }

body, div, h1, p{margin: 0;}
body{ position: relative; background: black;}
h1, p{font-family: 'DungGeunMo'; color: white;}
p{line-height: 22px; word-break: keep-all;}


#nha{
	position: absolute;
	width: 400px;
	top: 250px;
	left: calc(50% - 200px);
	text-align: center;
}
#nha:hover{
	position: absolute;
	font-size: 20px;
	width: 500px;
	top: 250px;
	left: calc(50% - 250px);
	text-align: center;
	
}
#main{background: black;
	width: 500px;
	height: 400px;
	position: absolute;
	top: 120px;
	left: calc(50% - 250px);
}

#main p{
	text-align: center;
}

#play{
	font-size: 40px;
	margin-top: 20px; 
}
#play:hover{
	font-size: 50px;
}

#map1{background: url('../img/hall.png'); width: 600px; height: 450px;
	position: absolute;
	top: 60px;
	left: calc(50% - 300px);
	display: none;
}

#cod {
	position: absolute;
	right: 19.63%;
	top: 23.1%;
	}

#cod:hover{width: 135px; right: 19.3%; top: 22.3%;}

#rest{position: absolute; left: 20%; top: 23.1%;}
#rest:hover{width: 75px; left: 19.75%; top: 22.2%;}

#pro{position: absolute; right: 10%; bottom: 27%;}
#pro:hover {width: 52px;}
#fri1{position: absolute; left: 10%; top: 42%;}
#fri1:hover {width: 52px;}

.textbox{
	background: black;
	width: 500px;
	height: 130px;
	position: absolute;
	left: calc(50% - 250px);
	top: 60%;
	padding: 10px;
	display: none;}


.choice{position: absolute;
		bottom: 5%}
.answer:hover{background:white;}
.answer p:hover{color: black;}

.out{position: absolute;
	width: 55px;
	bottom: 5%;
	right: 1%;
	background: black;
	font-family: 'DungGeunMo';
	color: white;
	border: none;
	outline: none;
	position: absolute;
	text-decoration: none;
	text-align: center;
	display: none;}
.out:hover {background:white; color: black;}

.gohome{position: absolute;
	width: 50px;
	height: 55px;
	font-size: 40px;
	left: -9%;
	top: 300px;
	background: black;
	font-family: 'DungGeunMo';
	color: white;
	border: none;
	outline: none;
	position: absolute;
	text-decoration: none;
	text-align: center;
	display: none;

}
.gohome:hover {font-size: 50px; top: 294px; left: -10%}

.nextbutton{position: absolute;
	width: 55px;
	bottom: 5%;
	right: 1%;
	background: black;
	font-family: 'DungGeunMo';
	color: white;
	border: none;
	outline: none;
	position: absolute;
	text-decoration: none;
	text-align: center;
	display: none;}
.nextbutton:hover {background:white; color: black;}

.aN2{width: 500px;
	border: none;
	outline: none;
	text-decoration: none;}

#CY1{border: none;
	outline: none;
	text-decoration: none;}

#RY1{border: none;
outline: none;
text-decoration: none;}
